//
//  PROD.xcconfig
//  Xcode Configurations
//
//  Created by egesucu on 1.09.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_URL = https:/$()/pokeapi.co/api/v2/pokemon/ditto/
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PROD
PRODUCT_BUNDLE_IDENTIFIER = tr.com.egesucu.XcodeConfig
